/*########itemDetail##########*/
.myItemDetailSection {
	color: black !important;
	background: rgba(235, 242, 245, 0.50);
	width: 90% !important;
	border-radius: 15px;
	font-size: 1.4em;
	margin-bottom: 6em;
}

.titleRow {
	font-size: 2.5em;
	text-align: center;
}

descriptionRow #description {
	font-size: 1em;
	background: rgba(235, 242, 245, 0.30);
}

.customSeparator {
	margin: 10px;
}

.img-item-detail {
	width: 95%;
	height: 95%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.contactOwnerItemBtn {
	border-radius: 10px;
	margin-top: 0.8em;
	height: 50px;
	width: 120px;
	margin-bottom: 1em;
	display: block !important;
	margin-right: auto !important;
	margin-left: auto;
}

.message_input_area {
	display: block;
	margin-right: auto !important;
	margin-left: auto !important;
	margin-bottom: 10em !important;
	width: 50%;
}